.container {
  box-sizing: border-box;
  padding: 20px;
  background: #fffffe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 90%;
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: left;
  text-decoration: none;
}

.choice {
  padding: 12px;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 2px solid #ddd; /* 透明の枠を初期状態で設定 */
  /* cursor: pointer; */
  border-radius: 5px;
}

.idk {
  color: #ffffff;
  width: 80%;
  margin: auto;
  padding: 12px;
  margin-bottom: 8px;
  background-color: #aaa;
  border: 2px solid #aaa; /* 透明の枠を初期状態で設定 */
  list-style: none;
  border-radius: 100vh;
  text-align: center;
}

.choice:hover {
  text-decoration: none; /* ホバー時の下線を無効化 */
  color: inherit; /* ホバー時の色変更を無効化 */
}

.correct {
  background-color: #ffffff;
  border-color: rgb(21, 189, 21); /* 正解の枠色 */
}

.incorrect {
  background-color: #ffffff;
  border-color: rgb(234, 44, 44); /* 不正解の枠色 */
}

.fullScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* デフォルトのフォントサイズ */
  background-color: #d1d1e9;
  color: #6246ea;
  z-index: 10;
}

.countdownText {
  text-align: center;
  margin-bottom: 20px; /* テキストと数字の間隔 */
}

.countdownNumber {
  text-align: center;
  font-size: 300px; /* 数字のフォントサイズを大きく設定 */
}

.progressBarContainer {
  width: 100%;
  background-color: #ddd;
  height: 10px;
  border-radius: 10px;
}

.progressBar {
  height: 100%;
  border-radius: 10px;
}

.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.circle {
  width: 30px; /* 小さい丸のサイズ */
  height: 30px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  background-color: #ddd; /* 初期色 */
  margin: 0 5px; /* 丸同士の間隔 */
}

.largeCircle {
  width: 70px; /* 大きい丸のサイズ */
  height: 70px;
  position: relative;
  z-index: 0;
}

.circleText {
  color: #ffffff;
  position: absolute;
  top: 50%;
  z-index: 0;
  transform: translate(0, -50%);
  text-align: center;
  background-color: transparent;
}

.playerNameText {
  max-width: 50px;
  color: #6246ea;
  text-align: right;
}

.ghostNameText {
  max-width: 50px;
  color: #ff8e3c;
  text-align: left;
}

.scoresContainer {
  display: flex;
}

.imgWrap {
  width: 20%;
  /* height: 30px; */
}

.pImgContainer {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 20%;
  /* height: 30px; */
  border: #6246ea solid 3px;
  display: flex;
}

.gImgContainer {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 20%;
  /* height: 30px; */
  border: #ff8e3c solid 3px;
  display: flex;
}

.imgWrap p {
  font-size: small;
}

.playerImage {
  width: 90%;
  height: auto;
}

.ghostImage {
  width: 90%;
  height: auto;
}

.pAddPointText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #6246ea;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}

.gAddPointText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff8e3c;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff, 0px 1px 0 #fff, 0-1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
}

.nameContainer {
  display: flex;
  justify-content: space-between; /* 左右に要素を配置 */
  align-items: center; /* 縦方向の中央揃え */
  width: 100%; /* コンテナの幅を設定 */
}

.leftText {
  text-align: left;
  color: #6246ea;
}

.rightText {
  text-align: right;
  color: #ff8e3c;
}

.powerBarWrap {
  width: 60%;
}

.powerBarContainer {
  width: 60%;
  height: 20px;
  background-color: #ddd; /* 背景色 */
  display: flex;
}

.powerBarPlayer {
  box-sizing: border-box;
  background-color: #6246ea; /* プレイヤーの色 */
  height: 100%;
  transition: width 0.5s ease;
}

.powerBarGhost {
  background-color: #ff8e3c; /* CPUの色 */
  height: 100%;
  transition: width 0.5s ease;
}

.scoreLabelPlayer {
  height: 100%;
  text-align: center;
  color: #ffffff;
}

.scoreLabelGhost {
  height: 100%;
  text-align: center;
  color: #ffffff;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.warning {
  color: red;
  margin-top: 10px;
}

.tabs {
  display: flex;
  margin-top: 10px;
  box-sizing: border-box;
}

.tabs button {
  margin: 0;
  border-radius: 10px 10px 0 0;
}

.tabcontents {
  border: #6246ea solid 5px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
}

.activeTab {
  background-color: #6246ea;
  box-sizing: border-box;
}

.inactiveTab {
  background-color: #ddd;
  box-sizing: border-box;
}

.tabcontents select {
  border: #999 solid 2px;
  margin: 10px;
  height: 30px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 5px;
}

.tabcontents input {
  border: #999 solid 2px;
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: 80%;
  box-sizing: border-box;
  border-radius: 5px;
}

.soundBox {
  display: flex;
  position: absolute;
  padding: 10px;
  left: 10px;
  top: 10px;
  align-items: center;
  justify-content: flex-start;
  color: black;
  font-size: 10px;
}

.toggleButton {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 30px;
  margin-left: 5px;
  border-radius: 50px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggleButton:has(:checked) {
  background-color: #6246ea;
}

.toggleButton::after {
  position: absolute;
  top: 2px; /*(boxHeight-circleHeight)/2*/
  left: 2px; /*(boxHeight-circleHeight)/2*/
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  content: "";
  transition: left 0.4s;
}

.toggleButton:has(:checked)::after {
  left: 22px; /*boxWidth-circleWidth-(boxHeight-circleHeight)/2*/
}

.toggleButton input {
  display: none;
}
